:root{
    --primary-color: #f2ff00;
    --secondary-color: #333;
}

body, h1, button {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

a {
    text-decoration:solid;
    color: var(--primary-color);
}


body {
    font-family: Bebas Neue, sans-serif;
    background-color: #fff;
    color: var(--secondary-color);
}

header {
    position: fixed;
    width: 100%;
    background-color:var(--secondary-color);
    color: #fff;
    padding: 5px;
    text-align: center;
    border-bottom: var(--primary-color) 5px solid;
}

h1 {
    font-size: 65px;
}

main {
    padding-top: auto;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* NAV BAR */
#navbar {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

#navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SEARCH  BAR */
#search {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

#search-input {
    flex: 1;
    padding: 10px;
    border: var(--primary-color) 3px solid;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
    font-family: Bebas Neue, sans-serif;
}

#search-button {
    padding: 13px 20px;
    background-color: var(--primary-color);
    font-family: Bebas Neue, sans-serif;
    color: var(--secondary-color);
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: var(--primary-color);
}

/* OUTPUT SECTION */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#output {
    background-color: transparent;
    padding: 20px;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
}

#output img {
    max-width: 60%;
    height: auto;
    border: 4px solid;
    border-color: var(--primary-color);
    border-radius: 10%;
}

.drinkDiv {
    max-width: 40%;
    border: var(--primary-color) 5px solid;
    border-radius: 10%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.drinkName {
    color: var(--primary-color);
    font-size: 70px;
    margin-bottom: auto;
    margin-top: auto;
}

.drinkIngredients {
    color: white;
}

.drinkInstructions {
    color: white;
    max-width: 80%;
}

/* FOOTER */
footer {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    border-top: var(--primary-color) 5px solid;
}